<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" CONTENT="Gabriel Vich">
    <meta name="description" content="Bar y sala de entretenimiento, diversion sin limites">
    <meta name="category" content="Bar">
    <link rel="stylesheet" href="../Style/css1.css">
    <link rel="icon" type="image/jpg" href="../photos/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Contacta con Puzzles bar</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><img src="../photos/logo.png" alt="logo"></li>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Cócteles</a></li>
            <li><a href="presupuestos.html">Reserva</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="contacto.html" id="selected">Contáctanos</a></li>
        </ul>
    </nav>
</header>
    <main>
        <h1>Nos encontrarás aqui</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24292.303759952094!2d-3.7355455!3d40.4412286!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228f0d66f20dd%3A0xd2f315a5e7718fbe!2sAcademia%20Oposiciones%20y%20Cursos%20%7C%20MasterD%20Madrid!5e0!3m2!1sen!2ses!4v1697037784002!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>C. de Alonso Cano, 44, 46, 28003 Madrid</p>
        <br>
        <p>Para cualquier incoveniente con la pagina, puedes contactar al siguiente correo <a href="#">puzzles.bar@awesomemail.com</a></p>
        <p>O llama al siguiente numero: 630 838383</p>
    </main>
<footer>   
    <h3>Redes sociales</h3>
    <ul>
        <li><a href="contacto.html"><img src="../photos/ig.png" alt="Logo de Instagram" title="Instagram"></a></li>
        <li><a href="contacto.html"><img src="../photos/fb.png" title="Facebook" alt="Logo de Facebook"></a></li>
        <li><a href="contacto.html"><img src="../photos/x.png" title="Twitter" alt="Logo de Twitter"></a></li>
    </ul>
    <br>
    <p>Calle de Alonso Cano, 44, 46, 28003 Madrid.</p>
    <p id="copyright">©2023 Puzzles inc. Todos los derechos reservados</p>
</footer>
</body>
</html>